@font-face {
  font-family: 'gaga';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback; }

body {
  margin: 0;
  padding: 0;
  font-style: 16px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  height: 100%; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

p {
  margin: 0; }

.wraper {
  width: 100%;
  height: 100%; }

.main-container {
  height: 100%;
  min-height: 650px; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.31); }

.container {
  min-height: 650px;
  max-width: 945px; }

.order-link {
  display: inline-block;
  margin-left: 15px;
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e45028;
  color: white;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .order-link:hover {
    background-color: #ce401a; }

.section--hero {
  background: url(../img/bg/first_img.jpg) center center no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.header__menu-nav {
  margin-left: auto; }

.heder__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.header__menu-item:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: white;
  margin: 0 12px; }

.header__menu-item:last-child:after {
  display: none; }

.header__menu-item:nth-of-type(6):after {
  display: none; }

.heder__menu-link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  vertical-align: middle;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .heder__menu-link:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); }

.heder__menu-link--order {
  padding: 10px 17px;
  background: #e45028;
  margin-left: 12px;
  border-radius: 5px;
  border-bottom: none; }
  .heder__menu-link--order:hover {
    border-bottom: none;
    background-color: #ce401a; }

.content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.content-hero__img {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hero__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 451px;
  max-height: 424px; }

.content-hero__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f9b43b;
  font-family: gaga;
  font-weight: 300;
  font-size: 72px;
  line-height: 1.42;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0 0 1%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  text-align: left; }

.lifehack {
  font-family: lifehack;
  display: inline-block;
  line-height: 0.9;
  font-size: 65px;
  color: #ffffff; }

.container__hero {
  text-align: center; }

.scroll__link {
  display: inline-block; }

.scroll {
  margin-top: 9%; }

.section--best {
  background: url(../img/bg/two_img.jpg) center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container--best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__icon {
  width: 97px;
  height: 89px;
  margin-bottom: 34px; }

.best__icon--meat {
  background: url(../img/bg/icons/hand.svg) center center no-repeat; }

.best__icon--hend {
  background: url(../img/bg/icons/meat.svg) center center no-repeat; }

.best__icon--natural {
  background: url(../img/bg/icons/natural.svg) center center no-repeat; }

.container--best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap; }

.container--best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: calc(100% / 3);
  flex-basis: calc(100% / 3);
  padding: 2px; }

.container--best__h2 {
  color: #2f3234;
  font-family: gaga;
  font-weight: 300;
  font-size: 72px;
  line-height: 1.42;
  text-align: center; }

.container--best__h3 {
  font-family: "lifehack";
  font-size: 24px;
  font-weight: 500;
  line-height: 1.42;
  color: #2f3234;
  text-align: center;
  margin-bottom: 24px; }

.container--best__description {
  text-align: center;
  font-family: 'ubuntu';
  font-size: 14px;
  line-height: 1.42;
  color: #2f3234; }

.section--feed {
  height: 100vh; }

.section--feed___list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 650px;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section--feed__item {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  min-width: 120px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section--feed__ava {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  padding: 10%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 0; }
  .feed:hover {
    opacity: 1; }

.feed__name {
  font-size: 14px;
  font-family: "gaga";
  color: white;
  line-height: 2.008; }

.feed__description {
  font-size: 14px;
  font-family: "ubuntu";
  font-weight: 300;
  color: white;
  line-height: 1.714; }

.feed__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  font-family: "ubuntu";
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #2f3234;
  width: 110px;
  height: 35px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .feed__btn:hover {
    background-color: #1f2122; }
