.best {
  background: url(../img/bg/two_img.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include phones {
      width: 95%;
    }

    &--h2 {
      color: $dark;
      font-family: gaga;
      font-weight: 300;
      font-size: rem(72px);
      line-height: 1.42;
      text-align: center;

      @include phones {
        font-weight: rem(50px);
      }
    }
  }
}

.best-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: rem(20px);

  @include phones {
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(100% / 3);
    padding: rem(2px);

    @include phones {
      flex-direction: row;
      margin-bottom: rem(50px);
    }
  }

  &__icon {
    min-width: rem(97px);
    min-height: rem(89px);
    margin-bottom: rem(34px);

    @include phones {
      margin-bottom: 0;
    }
  }

  &__text {
    @include phones {
      text-align: left;
      padding-left: 27px;
    }
  }

  &__icon--meat  {
    background: url(../img/bg/icons/hand.svg) center center / contain  no-repeat;
  }

  &__icon--hend {
    background: url(../img/bg/icons/meat.svg) center center / contain  no-repeat;
  }

  &__icon--natural {
    background: url(../img/bg/icons/natural.svg) center center / contain no-repeat;
  }

  &__h3 {
    font-family: "lifehack";
    font-size: rem(24px);
    font-weight: 500;
    line-height: 1.42;
    color: $dark;
    text-align: center;
    margin-bottom: rem(24px);

    @include phones {
      text-align: left;
    }
  }

  &__description {
    text-align: center;
    font-family: 'ubuntu';
    font-size: rem(14px);
    line-height: 1.42;
    color: $dark;

    @include phones {
      text-align: left;
    }
  }
}