
.feed {
  height: 100vh;
  min-height: rem(650px);

  &__list {
    height: 100%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-basis: 25%;
    height: 50%;
    position: relative;

    @include tablets {
      flex-basis: 50%;
      height: 25%;
    }
  }

  &__ava {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
  }

  &__review {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    padding: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(68, 71, 73, 0);
    opacity: 0;
    transition: background-color 0.3s, opacity 0.7s;
    &:hover {
      background-color: rgba(68, 71, 73, 0.5);
      opacity: 1;
    }

    @include tablets {
      padding: 0 10%;
      justify-content: center;
      text-align: center;
    }

    @include between {
      padding: 0 6%;
    }

    @include phones {
      padding: 10%;
    }
  }

  &__name {
    font-size: rem(14px);
    font-family: "gaga";
    color: $white;
    line-height: 2.008;

    @include phones {
      font-size: rem(24px);
    }
  }

  &__description {
    font-size: rem(14px);
    font-family: "ubuntu";
    font-weight: 300;
    color: $white;
    line-height: 1.714;

    @include between {
      font-size: rem(13px);
    }

    @include phones {
      display: none;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(13px);
    font-weight: 500;
    font-family: "ubuntu";
    color: $white;
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: rem(5px);
    background-color: rgb(47, 50, 52);
    padding: rem(10px) rem(17px);
    // height: rem(35px);
    transition: 0.4s;
    &:hover {
      background-color: rgb(31, 33, 34);
    }

    @include phones {
      display: none;
    }
  }

  &__btn-phones {
    display: none;

    @include phones {
      display: flex;
    }
  }
}