.footer {
  background: url(../img/bg/footer.jpg) center center / cover no-repeat;
  min-height: rem(58px);
  margin-top: rem(-58px);
  font-family: "ubuntu";
  font-size: rem(14px);
  color: $white;
  font-weight: 300;
  display: flex;
  justify-content: center;

  &__container-footer {
    max-width: rem(945px);
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phones {
      flex-direction: column;
    }
  }

  &__contacts {
    @include phones {
      text-align: center;
    }
  }

  &__number-telefon {
    font-weight: bold;
    display: inline-flex;
    color: $red;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: 0.1s;

    &:before {
      content: "";
      display: block;
      width: rem(20px);
      height: rem(20px);
      background: url(../img/bg/icons/phone.svg) center center no-repeat;
    }
    &:hover {
      color: darken($red, 10%);
      &:before {
        width: rem(20px);
        height: rem(20px);
        background-size: cover;
      }
    }
  }
}

.soc-icon {
  width: rem(25px);
  height: rem(25px);
  fill: #5a5a5a;
  display: inline-block;
  margin-left: rem(20px);
  transition: fill 0.3s;

  &:hover {
    fill: $white;
  }

  @include phones {
    &:first-child {
      margin-left: 0;
    }
  }
}