.hero {
  background: url(../img/bg/first_img.jpg) center center no-repeat;
  background-size: cover;
  justify-content: center;
  flex-wrap: wrap;

  &__container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablets {
      width: 95%;
    }
  }

  
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  &__menu-nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
  }

  &__menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__menu-item {

    @include tablets {
      display: none;
      &:last-child {
        display: inline-block;
      }
    }

    &:after {
      content: "";
      display: inline-block;
      @include circle (rem(5px), $white);
      margin: 0 rem(12px);
    }
    &:last-child:after {
      display: none;
    }
    &:nth-of-type(6):after {
      display: none;
    }
  }

  &__menu-link {
    text-decoration: none;
    color: $white;
    font-size: rem(13px);
    font-weight: 400;
    line-height: 1.42;
    text-transform: uppercase;
    vertical-align: middle;
    border-bottom: rem(2px) solid rgba(255, 255, 255, 0);
    transition: 0.6s;
    &:hover {
      border-bottom: rem(2px) solid rgba(255, 255, 255, 0.5);
    }
  }
  &__menu-link--order {
    padding: rem(10px) rem(17px);
    background: $red;
    margin-left: rem(12px);
    border-radius: rem(5px);
    border-bottom: none;
    &:hover {
      border-bottom: none;
      background-color: darken($red, 7%);
      }
  }

  &__gamburger-menu {
    width: rem(24px);
    margin-left: rem(30px);
    display: none;

    &:hover .header__icon-gamburger-menu .header__gm-element {
      background-color: darken($white, 20%);
    }

    @include tablets {
      display: block;
    }
  }

  &__icon-gamburger-menu {
    width: 100%;
  }

  &__gm-element {
    width: 100%;
    height: 4px;
    background-color: $white;
    margin-top: 5px;
    border-radius: 2px;
    transition: background-color 0.3s;
    &:first-child {
      margin-top: 0;
    }
  }
}
.content-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  &__img {
    flex-basis: 50%;
    display: flex;
    justify-content: center;

    @include tablets {
      flex-basis: 100%;
    }
  }

  &__img-banner {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: rem(451px);
    max-height: rem(424px);
  }

  &__h1 {
    display: flex;
    color: $yellow;
    font-family: gaga;
    font-weight: 300;
    font-size: rem(72px);
    line-height: 1.42;
    flex-wrap: wrap;
    padding: rem(50px) 0 0 1%;
    flex-basis: 50%;
    text-align: left;

    @include tablets {
      text-align: center;
      justify-content: center;
      padding: rem(30px) 0 0 0;
    }

    @include phones {
      flex-basis: 100%;
      font-size: rem(63px);
    }
  }

  &__h1-lifehack {
    font-family: lifehack;
    display: inline-block;
    line-height: 0.9;
    font-size: rem(65px);
    color: $white;

    @include phones {
      font-size: rem(54px);
  }
}
}
.scroll {
  margin-top: 9%;

  &__link {
    display: inline-block;
  }

  @include tablets {
    margin-top: rem(130px);
    margin-bottom: rem(37px);
  }

  @include phones {
    margin-top: rem(60px);
    margin-bottom: rem(32px);
  }
}

.gm {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(#2f3234, 0.99);
  transition: height 0.8s;

  &__menu-link {
    text-decoration: none;
    font-family: 'lifehack';
    font-weight: 100;
    font-size: rem(20px);
    color: $white;
    transition: color 0.3s;

    &:hover {
      color: $yellow;
    }
  }

  &__menu-list {
    text-align: center;
  }

  &__menu-item {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    &:after {
      content: '';
      display: block;
      @include circle (rem(10px), $white);
      margin: 0 auto;
      margin-top: 20px;
    }

    &:last-child:after {
      display: none;
    }
  }

  &__close {
    width: rem(30px);
    height: rem(30px);
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 7%;
    margin-right: 10%;
  }

  &__svg-close {
    width: rem(30px);
    height: rem(30px);
    fill: $white;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      fill: $yellow;
      transform: scale(1.2);
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 2% 0 0 2%;
  }
}


