.team {
  background: url(../img/bg/four.jpg) center center / cover no-repeat;
  justify-content: flex-end;
  display: flex;

  &__container {
    width: 50%;
    background-color: rgba(77, 81, 83, 0.9); 
    display: flex;
    flex-direction: column;
    padding: 5% 7% 5% 5%;
    justify-content: center;

    @include tablets {
      width: 100%;
      align-items: center;
      text-align: center;
      padding: 0 28%;
    }

    @include phones {
      padding: 0 18%;
    }
  }
  &__wrap {
    display: none;
    overflow: hidden;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
  }

  &__content {    
    display: flex;
    height: 100%;
    width: 100%;

    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }

  &__h2 {
    color: $yellow;
    font-family: gaga;
    font-weight: 300;
    font-size: rem(72px);
    line-height: 1.42;
    width: 100%;
    margin-bottom: rem(30px);

    @include phones {
      font-size: rem(50px);
    }
  }

  &__list {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__item {
    margin-bottom: rem(30px);
  }

  &__item-active {
    margin-bottom: rem(36px);

    .team__wrap {
      display: none;
      // opacity: 1;

      @include tablets {
        margin-left: 0;
      }
    }
    .team__h3-name {
      color: $yellow;
      margin-bottom: rem(14px);

      &:before {
        border-bottom: rem(7px) solid $yellow;
        border-top-width: rem(0px);
        }
    }
  }
  
  &__h3-name {
    text-decoration: none;
    font-size: rem(14px);
    font-family: "gaga";
    color: $white;
    display: inline-flex;
    align-items: center;
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: rem(7px) solid transparent;
      border-top: rem(7px) solid $yellow;
      border-bottom-width: rem(0px);
      margin-right: rem(10px);
    }

    @include tablets {
      font-size: rem(24px);
    }
    // &:active + .team__content {
    //   opacity: 1;
    // }
  }
  
  &__ava {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__speciality {
    font-family: "ubuntu";
    font-weight: bold;
    font-size: rem(14px);
  }

  &__desc {
    padding-left: rem(20px);
    font-size: rem(14px);
    font-family: "ubuntu";
    font-weight: 300;
    display: flex;
    flex-direction: column;
    flex: 1;

    @include tablets {
      padding: 0;
    }
  }
}
