.wraper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &:after {
    content: "";
    display: block;
    height: rem(58px);
  }
}

.main-container {
  height: 100%;
  min-height: rem(650px);
}
.section {
  display: flex;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
}

.container {
  min-height: rem(650px);
  max-width: rem(945px);
  width: 100%;
}

.order-link {
  display: inline-block;
  margin-left: rem(15px);
  min-width: rem(98px);
  padding: rem(10px) rem(17px);
  border-radius: rem(5px);
  background-color:  $red;
  color: $white;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: 0.4s;
  &:hover {
    background-color: darken($red, 7%);
  }
}